.englishTopPage {
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 90px;
    font-weight: bold;
}
.alignRight {
    text-align: right;
    display: block;
    margin-bottom: 40px;
}
.englishTopPage div {
    padding: 5px;
}